{% extends "base.html" %}
{% block title %}Modifier un patient{% endblock %}
{% block body %}
<div class="container">
    <h3>Modifier un examen</h3>
    <form method="POST">
        {{ form_update.hidden_tag() }}
        <div class="form-group">
            {{ form_update.patient_select.label }} {{ form_update.patient_select(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form_update.type_examen.label }} {{ form_update.type_examen(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form_update.resultats_examen.label }} {{ form_update.resultats_examen(class="form-control") }}
        </div>
        <div class="form-group">
            <label>Date de l'examen</label>
            <div class="form-inline">
                {{ form_update.jour_examen(class="form-control d-inline w-auto") }}
                {{ form_update.mois_examen(class="form-control d-inline w-auto") }}
                {{ form_update.annee_examen(class="form-control d-inline w-auto") }}
            </div>
        </div>
        {{ form_update.submit(class="btn btn-success") }}
    </form>
</div>
{% endblock %}