{% extends "base.html" %}
{% block title %} Ajouter un EXAMEN (WTF) {% endblock %}
{% block body %}
<div class="container">
    <h3>Ajouter un examen</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.patient_select.label }} {{ form.patient_select(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.type_examen.label }} {{ form.type_examen(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.resultats_examen.label }} {{ form.resultats_examen(class="form-control") }}
        </div>
        <div class="form-group">
            <label>Date de l'examen</label>
            <div class="form-inline">
                {{ form.jour_examen(class="form-control d-inline w-auto") }}
                {{ form.mois_examen(class="form-control d-inline w-auto") }}
                {{ form.annee_examen(class="form-control d-inline w-auto") }}
            </div>
        </div>
        {{ form.submit(class="btn btn-success") }}
    </form>
</div>
{% endblock %}
