{% extends "base.html" %}
{% block body %}
<div class="container">
    <h3>Ajouter un signe vital</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.date_signe.label }} {{ form.date_signe(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.type_signe.label }} {{ form.type_signe(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.valeurs_signe.label }} {{ form.valeurs_signe(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.patient_select.label }} {{ form.patient_select(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-success") }}
    </form>
</div>
{% endblock %}