{% extends "base.html" %}
{% block body %}
<div class="container">
    <h3>Informations sur le rapport</h3>
    <table class="table table-bordered">
        <tr><th>Id</th><td>{{ data.id_rapport }}</td></tr>
        <tr><th>Nom</th><td>{{ data.nom_patient }}</td></tr>
        <tr><th>Prénom</th><td>{{ data.prenom_patient }}</td></tr>
        <tr><th>Date</th><td>{{ data.date_rapport }}</td></tr>
        <tr><th>Type</th><td>{{ data.type_rapport }}</td></tr>
        <tr><th>Texte</th><td>{{ data.texte_rapport }}</td></tr>
    </table>
    <a href="{{ url_for('rapports_afficher', order_by='ASC', id_rapport_sel=0) }}" class="btn btn-secondary">Retour</a>
</div>
{% endblock %}